.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.checkbox {
    padding-top: 0;
    min-height: auto;
}

.checkbox label {
    padding-left: 30px;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 -30px;
}

.buttonStyle > button{
    height: 30px;
    width: 100px;
}
.panel-heading{
    background-color: #224e41;
    border-color: #224e41;
}

.panel-primary {
    border-color: #224e41;
}